@model IEnumerable<proyectoBuzon.Models.Quejas>

@{
    ViewData["Title"] = "Index";
}

<h2>Resolver</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionQ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaQ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPedidoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPoliticaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoqNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionQ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaQ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClNavigation.NombresCl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.NomEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedidoNavigation.IdPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPoliticaNavigation.NomPolitica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoqNavigation.NombreTipoq)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdQ">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdQ">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdQ">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index">Back to List</a>
