@model IEnumerable<proyectoBuzon.Models.Respuestasqueja>

@{
    ViewData["Title"] = "Index";
}

@*<h2>Index</h2>*@
<td>
    @Html.ActionLink("<< ATRAS", "IndexSolucionadas", "Quejas", null, new { @class = "btn btn-success btn-lg" })
</td>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                DESCRIPCIÓN DE LA QUEJA
            </th>
            <th>
                RESPUESTA
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdQNavigation.DescripcionQ)
             
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescResp)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.IdRespuestaq">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRespuestaq">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRespuestaq">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
