@model IEnumerable<proyectoBuzon.Models.Sugerencias>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Cliente.cshtml";
}


<center>
    <h2>SUGERENCIAS CLIENTE</h2>
</center>

@*<td>
        @Html.ActionLink("<< ATRAS", "IndexSolucionadas", "Quejas", null, new { @class = "btn btn-success btn-lg" })
    </td>*@

<p>

</p>
@*<p>
        <a asp-action="Create">NUEVA SUGERENCIA</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                FECHA
            </th>
            <th>
                CLIENTE
            </th>
            <th>
                TIPO DE SUGERENCIA
            </th>
            <th>
                DESCRIPCIÓN
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaS)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClNavigation.ApellidosCl)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTiposugNavigation.NombreTipoq)

                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.DescripcionS)
                </td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.IdS">Editar</a> |
                    @*<a asp-action="Details" asp-route-id="@item.IdS">Details</a> |*@
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdS">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<td>
    @Html.ActionLink("<< ATRAS", "Create", "Sugerencias", null, new { @class = "btn btn-success " })
</td>
